.gen-noti li {
    list-style: none;
    padding: 5px 20px;
    background-color: white;
    border: 1.5px solid #444444;
    border-radius: 5px;
    margin: 2px;
    animation: 0.2s ease-out 0s 1 slideIn;
}

.gen-noti ul {
    padding: 0;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.gen-noti {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}
