.card {
    display: inline-block;
    width: 30%;
    position: relative;
    margin: 10px;

    border: solid transparent 0;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #999999;

    font-family: "Open Sans", sans-serif;

    transition: ease-in-out 0.75s;
}

.card:hover {
    box-shadow: 1px 1px 100px #999999;
}

.card-heading {
    position: relative;
}

.card-heading img {
    display: block;
    width: 100%;
    height: 100%;
    border-width: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    filter: brightness(0.75);
}

.title-block {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: inherit;

    mix-blend-mode: lighten;
    background-color: white;

    transition: ease-in-out 0.2s;
}

.title-block h1 {
    margin: 0;
    padding: 10px 5px;

    color: black;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 26px;

    transition: ease-in-out 0.2s;
}

.card-desc {
    padding: 0 10px 10px;
    color: #444444;

    transition: ease-in-out 0.2s;
}
