.gen-btn {
    margin: 10px 15px;
    padding: 5px 20px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444444;

    background-color: transparent;
    border-radius: 19px;
    border: 2px solid #444444;
    outline: 0;

    transition: ease-in-out 0.2s;

    cursor: pointer;
}

.gen-btn svg {
    margin-right: 5px;
    animation: spin 1s infinite ease-in-out;
    display: none;
}

.gen-btn:hover, .loading {
    background-color: #444444;
    color: white;
}

.loading svg {
    display: inline;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
