.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.signin-form input {
    width: 300px;
}

.signin-link {
    font-size: 80%;
}
