.form-input {
    position: relative;
    display: flex;
    flex-flow: column-reverse;

    font-family: 'Open Sans', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

.input-label {
    padding: 3px 3px;
    position: absolute;
    transition: ease-in-out 0.2s;
    cursor: text;
}

.input-wrap {
    font-size: 14px;

    margin: 20px 15px 30px;
}

.input-input {
    font-size: 14px;
    outline: 0;
    padding: 3px 3px;

    border: none;
    border-bottom: 1.5px solid #999999;

    transition: ease-in-out 0.2s;
}

.input-input:focus {
    border-color: #777777;
}

.input-input:focus + .input-label,
.input-input:not([value='']) + .input-label {
    transform: translateY(-120%);
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
    color: black;
}

.input-error {
    border-bottom-color: red;
}

.input-error:focus {
    border-bottom-color: red;
}
